		.biparrafo .logosyrutas {
		    text-align: right;
		    flex-basis:20%;
			display:flex;
			flex-flow: column wrap;
			justify-content:space-around;
		}
		.biparrafo .rutasBloque{
			flex-basis:70%;
		}
		.rutasautobus .mananas, .rutasautobus .tardes {
		}
		.rutasautobus ul {
		    font-size: 0.8em;
		    line-height: 1em;
		    list-style: outside none none;
		    border:1px solid #aaa;
		}

		.rutas{
			// position:absolute;
			display:none;
			top:3em;
			left:0;
		  -webkit-transition: all 0.5s ease;
		  transition: all 0.5s ease;			
			opacity:0;
			width: 100%;
		}

		.rutas.active{
			top:0;
			display:block;
			opacity:1;
		}

		.rutasautobus ul strong {
		    border-right: 1px solid #fff;
		    margin-right: 1em;
		    padding-left: 1em;
		    padding-right: 1em;
		}
		.rutas > li {
		    border-bottom: 1px solid #fff;
		    // padding:0.3em;
		}
		.rutas > li:last-child {
		    border: 0 none;
		}		
		.rutasautobus ul {
			background-color:rgba(200,200,200,.3);
		}
		.rutasBloque {
		    flex-basis: 58%;
		    margin-right: 4%;
		}
		.bus:hover{
			background-color: grey;
			color: grey;
			text-shadow:1px 1px 1px black;
		}
		.buslogo {
		    border: 1px solid;
			cursor:pointer;
		    margin-bottom: 0.3em;
		    padding: 1em;
		    text-align: center;
		}
		.bus.ruta1 {
		    margin-top: 2em;
		}
		.buslogo i {
		    font-size: 2em;
		}
		
		.buslogo.active{
			background-color:rgb(192, 31, 57);
			color:white;
			border:1px solid black;
		}
		.buslogo.active:hover > i{
			text-shadow: 1px 1px 1px black;
		}

		.rutasautobus .biparrafo > p {
		    flex-basis: 40%;
		}

		@media all and (max-width: 80em) {}
		@media all and (max-width: 70em) {
			.buslogo span{
				display:block;
			    font-size: 0.6em;
			}
		}
		@media all and (max-width: 62em) {}
		@media all and (max-width: 60em) {}
		@media all and (max-width: 54em) {}
		@media all and (max-width: 52em) {
			hr.blue{
				margin:2em 2em 0;
			}
			.biparrafo .logosyrutas{
				flex-flow:row wrap;
				flex-basis:100%;
			}
			.biparrafo .rutasBloque{
				flex-basis:100%;
			}
			.buslogo{
			 padding: 0.2em 0.6em 0;
			}
			.rutasBloque{
				margin:4%;
			}
		}
		@media all and (max-width: 46em) {


		}
		@media all and (max-width: 32em) {
			.rutasautobus .biparrafo > p {
			    flex-basis: 80%;
			    margin-bottom:1em;
			}
		}
		@media all and (max-width: 26em) {}
		@media all and (max-width: 22em) {}